.toggle{
    position: absolute;
    top: 2px;
    left: 2px;
    transition: all 0.3s ease-in-out;
    border-radius: 13px;

}

.toggle input[type=checkbox]{
    visibility: hidden;
}

.toggle input[type=checkbox]:checked + .toggle-switch {
    left: 22px;
    background-color: brown;
    
}

.toggle{
    display: inline-block;
    width: 50px;
    height: 30px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    
}